@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19A1AE;
    background-image: url(assets/Oval\ Copy\ 30.svg);
    background-repeat: no-repeat;
   
    
}
.background{
    position: absolute;
    right: 0;
    bottom: 0;

}

.container{
    width: 350px;
    height: 374px;
    margin: 173px 545px;
    background-color: #FFFFFF;
    border-radius: 15px; 
    position: relative;
}
.box{
    width: 350px;
    height: 140px;
}

.avarself{
    position: relative;
    z-index: 1;
    top: -48px;
    left: 127px;
}

.owner{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.avarname{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #2E3349;
    margin-top: 72px;


}
.number{
    font-weight: 400;
    font-size: 18px;
    padding-left: 8.5px;
    color: #6B7082;
    margin-top: 72px;
    margin-left: 8.5px;
}
.city{
    font-weight: 400;
    font-size: 14px;
    color: #6B7082;
    text-align: center;
    margin-top: 13px;
}

.profile{
    border-top: 1px solid #E8E9EC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 28px

}

h2{
    margin-top: 24px ;
    font-weight: 700;
    font-size: 18px;
    color: #2E3349;
    line-height: 22.32px;

}

p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.4px;
    letter-spacing: 1.5px;
    color: #6B7082;
    margin-top: 8px;
}


